
/*
Snippets
    font-family: "Times New Roman", Times, serif;
    * {font-family: "Times New Roman", Times, serif;}
*/


QWidget
{
    background-color:  rgb(52, 52, 52);
    color: rgb(185, 185, 185);
    border-radius: 2px;
    selection-background-color: rgb(167, 167, 167);
    selection-color: rgb(26, 26, 26);
    font-size: 12px;
}

QLineEdit, QComboBox, QSpinBox
{
    background-color: rgb(22, 22, 22);

}

QLabel
{
    background-color: none;
    border: none;
}

QComboBox:on
{
    padding-top: 3px;
    padding-left: 4px;
}

QAbstractScrollArea
{
    border: 1px solid rgb(40, 40, 40);
}

QScrollArea > QWidget
{
    background-color: rgb(52, 52, 52);
}


QPlainTextEdit:Focus, QComboBox:Focus, QSpinBox:Focus
{
    background-color:  rgb(70, 70, 70);
}

QLineEdit:Focus
{
    background-color:  rgb(22, 22, 22);
}

QPlainTextEdit:disabled, QComboBox:disabled QLineEdit:disabled, QSpinBox:disabled, QPushButton:disabled
{

    color:rgb(100, 100, 100);
}


/*listviews+treeview+tableview*/
QListView, QTreeView, QTableView
{
    alternate-background-color: rgb(60, 60, 60);
}

QListView::item:selected, QTreeView::item:selected, QTableView::item:selected
{
    border: 1px solid rgb(160, 160, 160);
    background-color: rgb(160, 160, 160);
}

QListView::item:selected:hover, QTreeView::item:selected:hover
{
    background: rgb(180, 180, 180);
}
QListView::item:hover, QTreeView::item:hover
{
    background: rgb(100, 100, 100);
}

QTreeView QWidget, QTableView .QWidget
{
    background-color: rgb(52, 52, 52);
    border: none
}

QHeaderView
{
    background: rgb(20, 20, 20);
}

QHeaderView::section
{
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(55, 55, 55, 255),
                                                            stop:0.130682 rgba(86, 86, 86, 255), stop:0.886364 rgba(86, 86, 86, 255),
                                                            stop:1 rgba(66, 66, 66, 255));
    color:  rgb(180 ,180,180);
    padding-left: 4px;
    border: 1px solid  rgb(50, 50, 50);
}
QHeaderView::section:checked
{
    background-color: rgb(120, 120, 120);
}

QTableView QTableCornerButton::section
{
    border-top-left-radius: 7px;
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(55, 55, 55, 255),
                                                             stop:0.130682 rgba(86, 86, 86, 255), stop:0.886364 rgba(86, 86, 86, 255),
                                                             stop:1 rgba(66, 66, 66, 255));
    margin: 1px 0 0 1px;
    border: 1px solid rgb(55, 55, 55);
}


/*tabwidget*/
QTabWidget::pane
{
    border-radius: 2px;
    border: 1px solid rgb(55, 55, 55);
    border-top-color:  rgb(50, 50, 50);
}


QTabBar::tab {
    /*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,*/
    /*                            stop: 0 rgb(60, 60, 60),*/
    /*                            stop: 0.4 rgb(70, 70, 70),*/
    /*                            stop: 0.5 rgb(70, 75, 75),*/
    /*                           stop: 1.0 rgb(40, 40, 40));*/

    border: 1px solid rgb(40, 40, 40);
    border-bottom-color: rgb(50, 50, 50); /* same as the pane color */
    border-left-color: rgb(80, 80, 80);
    border-top-color: rgb(65, 65, 65);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    min-width: 8ex;
    padding: 5px 13px 5px 13px;
}

QTabBar::tab:selected {
    background-color: rgb(60, 60, 60);
    border-color: rgb(50, 50, 50);
    border-bottom-color: rgb(50, 50, 50); /* same as pane color */
    color: rgb(195, 195, 195);
    /*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,*/
    /*                        stop: 0 rgb(65, 65, 65),*/
    /*                        stop: 0.4 rgb(70, 70, 70),*/
    /*                        stop: 0.5 rgb(70, 75, 75),*/
    /*                       stop: 1.0 rgb(40, 40, 40));*/
}

QTabBar::tab:!selected {
    background-color: rgb(40, 40, 40);
    /*margin-top: 5px; !* make non-selected tabs look smaller *!*/
    color: rgb(155, 155, 155)
}
/*QTabBar::tab:hover*/
/* {*/
/*    background-color: rgb(30, 30, 30);*/
/*    color: rgb(135, 135, 135)*/
/*}*/
/*radiobuttons+checkboxes*/
QRadioButton, QCheckBox
{
    background:transparent;
    border:none;
    color:rgb(100, 100,100);
}

QRadioButton:disabled, QCheckBox:disabled
{
    background:transparent;
    color:rgb(52, 52, 52);
}
QCheckBox:checked
{
    background:transparent;
    color:rgb(150, 150, 150);
}

QAbstractItemView
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4A4A4A, stop: 1 #454545);
}


/*Push Button*/

QPushButton
{
    /*
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #606060, stop: 1 #303030);
    */
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #464646, stop: 0.3 #525252, stop: 0.4 #464646,  stop: 1 #363636);
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #101010,  stop: 0.1 #404040, stop: 0.4 #505050, stop: 0.7 #454545,  stop: 1 #363636);
    border-width: 3px; /* 1 */
    border-color: rgb(45, 45, 45); /* 20 */
    border-style: solid;
    border-radius: 3; /* 1 */
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

QToolButton
{
    border-color: rgb(20, 20, 20);
    border-style: solid;
    border-radius: 1;
    border-width: 1px;
    /*padding: 3px;
    padding-left: 5px;
    padding-right: 5px;*/

}

QPushButton:pressed, QToolButton:pressed
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
}

QComboBox
{
    selection-background-color: #ffaa00;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 5;
}

QComboBox:hover, QPushButton:hover, QLineEdit:focus, QToolButton:hover
{
    border: 1px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
}


/*ScrollBar*/
QScrollBar
{
    background: rgb(50, 50, 90);
    border-radius: 6px;
}
QScrollBar::add-page, QScrollBar::sub-page
{
    background: rgb(43, 43, 43);
}

QScrollBar::add-page:hover, QScrollBar::sub-page:hover
{
    background: rgb(53, 53, 53);
}
QScrollBar:vertical  {
    margin: 15px 2px 15px 2px;
    border: 2px solid  rgb(50, 50, 50);
}
QScrollBar:horizontal  {
    margin: 2px 15px 2px 15px;
    border: 2px solid  rgb(50, 50, 50);
}
QScrollBar::handle{
    background:  rgb(70, 70, 70);
    border-radius: 3px;
}
QScrollBar::handle:horizontal  {
    margin: 0 -1px 0 -1px;
}
QScrollBar::handle:vertical  {
    margin: -1px 0 -1px 0;
}

QScrollBar::sub-line,QScrollBar::add-line
{
     background-color: rgb(52, 52, 52);
     height: 13px;
     width: 13px;
}


QScrollBar::sub-line:vertical, QScrollBar::add-line:vertical
{
     subcontrol-position: top;
     subcontrol-origin: margin;
}
QScrollBar::add-line:vertical
{
     subcontrol-position: bottom;
}

QScrollBar::sub-line:horizontal, QScrollBar::add-line:horizontal
{
     subcontrol-position: left;
     subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal
{
     subcontrol-position: right;
}


/*menu*/
 QMenuBar
 {
     /*background-color: rgba(45, 46, 45, 180);*/
     background-color: rgb(60, 60, 60);
 }
 /* {
     background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(55, 55, 55, 255), stop:1 rgba(97, 97, 97, 255));
    border-radius: 0;
 }*/

 QMenuBar::item
 {
     spacing: 3px;
     padding: 1px 4px;
     background: transparent;
     border-radius: 4px;
 }
 QMenuBar::item:selected {
     background: rgb(100, 100, 100)
 }
 QMenuBar::item:pressed {
     background:  rgb(50, 50, 50)
 }

QMenu::item:disabled{
    color: #5d585c;
}

 /* Bron additions */

 QGroupBox
{
border: 1px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #000000, stop: 1 #000000);
}

QLineEdit[error=true]
{
    border: 2px solid red
}
